<%= simple_form_for(@user) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
  <%= f.input :password,
  hint: "leave it blank if you don't want to change it",
  required: false,
  input_html: { autocomplete: "new-password" } %>
  <%= f.input :password_confirmation,
  required: false,
  input_html: { autocomplete: "new-password" } %>
  <%= f.input :current_password,
  hint: "we need your current password to confirm your changes",
  required: false,
  input_html: { autocomplete: "current-password" } %>
</div>
        <input id="searchAdresse" type="text" placeholder="Search for address"/>
        <label for="address_zip">Zip code</label>
        <input id="address_zip" name="address_zip"/>
        <label for="address_n"> Street Number</label>
        <input id="address_n" name="address_n"/>
        <label for="address_street">Street</label>
        <input id="address_street" name="address_street"/>
        <label for="address_city">City</label>
        <input id="address_city" name="address_city"/>
<div class="form-actions">
  <%= f.button :submit, "Update" %>
</div>
<% end %>
