<div class="container text-center">
<h1 class="pt-3 pb-5">Edit a Reservation</h1>

<%= simple_form_for @workplace do |f| %>
  <%= f.input :name, placeholder: 'Enter the name of Workspace' %>
  <%= f.input :total_places, placeholder: 'Enter the maximum capacity ' %>
  <%= f.input :available_places, placeholder: 'How many places are available?' %>
  <button type="button" class="btn btn-outline-success"><%= f.button :submit %> </button>
<% end %>
</div>
