<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coworking</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= favicon_link_tag asset_path('cw.png') %>
    <%= render 'shared/flashes' %>
  </head>
  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "cw.png" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item border-right">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item border-right">
            <%= link_to "Workplaces", workplaces_path, class: "nav-link" %>
          </li>
          <li class="nav-item border-right">
          <%= link_to "Create a workplace", new_workplace_path, class: "nav-link" %> </li>
          <li class="nav-item border-right">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
          <li class="nav-item">
          <%= current_user.email %> </li>
          <% else %>
          <li class="nav-item border-right">
            <%= link_to "Waiting list", "/requests", class: "nav-link" %>
          </li>
          <li class="nav-item border-right">
            <%= link_to "Book a workplace", "/requests/new", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= yield %>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
